@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --yellight: #DBC170;
  --yell: #B8952E;
  --yeldark: #846F2E;
  --gray-100: #F5F4F5;
  --gray-200: #B2AFB6;
  --gray-300: #98959D;
  --gray-400: #7A787F;
  --gray-500: #3E3C41;
  --gray-600: #2E2C30;
  --gray-700: #232225;
  --gray-800: #19181B;
  --gray-900: #050505;

  --font-family: "Catamaran", sans-serif;
  --tt-lg: 800 25px/135% var(--font-family);
  --tt-md: 600 16px/140% var(--font-family);
  --tt-sm: 500 14px/140% var(--font-family);
  --text-md: 600 16px/145% var(--font-family);
  --text-sm: 400 14px/160% var(--font-family);
}

.window-color{
  background-color: var(--gray-700);
}

.subt-color{
  color: var(--gray-200);
}

.label{
  color: var(--gray-200);
}

.link{
  color: var(--yell);
  text-decoration: none;
}


.title-lg{
  font: var(--tt-lg);
}

.title-md{
  font: var(--tt-md);
}

.title-sm{
  font: var(--tt-sm);
}

.p-md{
  font: var(--text-md);
}

.p-sm{
  font: var(--text-sm);
}

.el-screen{
  margin-inline: auto;
  max-width: 1920px;
}

.radioButton{
  background-color: var(--gray-500);
  border-radius: 5px;
  padding: 5px;
  border: 1px solid var(--gray-400);
  font: var(--text-sm);
}

.RBactive{
  border: 2px solid var(--yeldark);
}
.RBactive > label{
  color: var(--yeldark);
}

body {
  background: var(--gray-800);
  color: var(--gray-100);
  font-family: Arial, Helvetica, sans-serif;
}

input[type="radio"]{
  display: none;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="date"]{
  padding: 0.5rem;
  border: 1px solid var(--gray-500);
  border-radius: 0.25rem;
  background-color: var(--gray-700);
  color: var(--gray-200);
  font-family: var(--font-family);
}

button[type="submit"]{
  padding: 0.5rem 1rem;
  background-color: var(--yell);
  color: var(--foreground);
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-weight: bolder;
}
button[type="submit"]:active{
  background-color: var(--yeldark);
}


